phrase.archdemy.com {
  encode zstd gzip
  @manifest path /manifest.webmanifest
  header @manifest >Content-Type application/manifest+json
  reverse_proxy phrase-bank:3000
}

http://43.153.204.17 {
  reverse_proxy phrase-bank:3000
}
